<div class="container mt-5 mb-5">
    <h1>About Us</h1>
    <p>
        Deen Food is the most convenient online food ordering site, connecting people
        <br> 
        with the best restaurants around them.
        <br>
        We believe food is a pleasure and food ordering should be fast and definitely 
        <br>
        fun experience. Ordering with Deen Food is as easy as a 4-step recipe:
        <br>
        1- Select your food or grocery
        <br>
        Browse our food menu
        <br>
        2 - Receive it at your doorstep
        <br>
        Your order will be delivered to you in no time
        <br>
        3 - Enjoy your order
        <br>
        Enjoy your food or grocery items
        <br>
        On your mobile, tablet, desktop or via our app, Deen Food is a delicious 
        experience!<br/> Deen Food Coorporate Service: With the most advanced corporate 
        food delivery <br/> of its kind, Deen Food helps you treat yourself and your employees to the 
        best lunch <br/> delivery service available. For more information, contact our 
        corporate team via <a href="kamaldyn77@gmail.com">Email Address</a>
        
    </p>
</div>